/*!
	*author: Ian Abercrombie
	*project: Firefly Web
*/

div.gauge_row {
    overflow:auto;
    width:100%;
}
div.dial_gauge {
    position:static;
    float:left;
    width:40%;
    overflow:auto;
}

div.dial_gauge_electrolyser {
    width:39vw;
    height:39vw;
    position:static;
    margin:0 auto;
}

div.dial_gauge_fuelcell {
    width:39vw;
    height:39vw;
    position:static;
    margin:0 auto;
}

div.calibration {
    position:static;
    margin:0 auto;
    visibility:hidden;
}

div.calibrate_select {
    position:static;
    margin:0 auto;
}

div.linear_gauge {
    position:static;
    float:left;
    width:15vw;
    overflow:auto;
    margin:0 auto;
}

div.linear_gauge_pressure {
    position:static;
    height:40vw;
    margin:0 auto;
}

